#header {
	padding: 5px;
	background-color:#ffff99;
	height:80px;
}

#title {
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size:40px;
	margin-left:30px;
	margin-top:15px;
	padding-right:10px;
	width:200px;
	float:left;
}

body {
	margin:0px;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
}

.navItem {
    float: left;
    font-size:20px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 20px;
    margin-top:27px;
}

.navLink:hover, .titleLink:hover {
    color: #c1c1c1;
}

.navLink, .titleLink {
	color:black;
    text-decoration: none;
}

h2, h3, p {
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin:10px;
}

 .css-input { margin:10px; border-color:#cccccc; border-style:solid; border-width:0px; padding:8px; font-size:17px; border-radius:7px; background-color:#f2f2f2; box-shadow: 0px 0px 0px 0px rgba(42,42,42,.0); text-shadow:0px 0px 0px rgba(42,42,42,.51); font-weight:normal; font-style:none; font-family:sans-serif;  } 
		 .css-input:focus { outline:none; } 
		 
#content {
	margin: 40px;
}

td {
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	padding:10px;
}

.myButton {
	background-color:#ffffa1;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#828282;
	font-family:Arial;
	font-size:16px;
	padding:9px 21px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#f5f5f5;
}
.myButton:active {
	position:relative;
	top:1px;
}

#smallButton {
	font-size:12px;
	padding:7px 15px;
}

tr.resultTr td{
	border-bottom:1pt solid #d9d9db;
}

.resultTable { 
    border-collapse: collapse; 
}

.tabs li{
	display:inline;
	margin:0px;
	padding: 10px;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	border-width:2pt;
	color:#e6e6e6;
}

.tabs {
	display: flex;
	padding-left:10px;
	color:#828282;
}

.selected {
	border-style:solid solid none solid;
	border-radius: 10px 10px 0 0;
}

.unselected {
	border-style: none none solid none;
}

.selectedLink {
	color: black;
    text-decoration: none;
}

.unselectedLink {
	color: #828282;
    text-decoration: none;
}

h1{
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;	
}

.roomButton {
	background-color:#ffffa1;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#828282;
	font-family:Arial;
	font-size:16px;
	padding:9px 21px;
	text-decoration:none;
	position:fixed;
}
.roomButton:hover {
	background-color:#f5f5f5;
}
